---
title: Home Page
---
<p>Certified Salesforce Administrator, Advanced Administrator, Service Cloud Consultant, Sales Cloud Consultant and Platform App Builder with experience in the Service Cloud, Sales Cloud and Marketing Cloud products.</p>
<p>I'm also a co-leader for the Salesforce Irvine, CA Developer Group, a Salesforce Service Champion and an AppExchange All-Star.</p>

{% if site.posts.size > 0 %}
<h3>Recent Posts</h3>
<ul class="post-list">
  {% for post in site.posts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}