<footer>
	<p class="social">
		<a href="https://twitter.com/jimmitchell" target="_blank" class="twitter" title="Follow me on Twitter"><i class="fab fa-twitter"></i></a>
		<a href="https://linkedin.com/in/jimmitchellmedia" target="_blank" class="linkedin" title="Connect with me on LinkedIn"><i class="fab fa-linkedin-in" style="text-indent:1px;"></i></a>
		<a href="https://trailblazer.me/id/jimmitchell" target="_blank" class="salesforce" title="View my Trailblazer profile"><i class="fab fa-salesforce" style="text-indent:-2px;"></i></a>
		<a href="https://instagram.com/trailblazer.jim" target="_blank" class="instagram" title="Follow me on Instagram"><i class="fab fa-instagram"></i></a>
		<a href="https://github.com/jimmitchellmedia" target="_blank" class="github" title="See my projects on Github"><i class="fab fa-github"></i></a>
	</p>
	<p>&copy;{{ "now" | date: "%Y" }} - Jim Mitchell Media</p>
</footer>