<!doctype html>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-NWJ329G6L2"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-NWJ329G6L2');
		</script>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		{% feed_meta %}
    	{% seo %}
		<link rel="shortcut icon" type="image/jpg" href="/assets/images/favicon.ico"/>
		<link rel="preload" href="/assets/images/bg.jpg" as="image">
		<link rel="preload" href="/assets/images/profile.jpg" as="image">
		<link rel="preload" href="/assets/css/styles.css" as="style">
		<script src="https://kit.fontawesome.com/66d593ae38.js" crossorigin="anonymous"></script>
		<link href="/assets/css/prism.css" rel="stylesheet" />
		<link href="/assets/css/styles.css" rel="stylesheet" />
		<script src="/assets/js/prism.js"></script>
		<script type='text/javascript' src='https://c.la1-c2-ia5.salesforceliveagent.com/content/g/js/51.0/deployment.js'></script>
		<script type='text/javascript'>
		liveagent.init('https://d.la1-c2-ia5.salesforceliveagent.com/chat', '5726g000000QfQd', '00D6g000005j3Q4');
		</script>
	</head>
	<body>
		<div class="blur">
			<div class="content">
	
				{% include header.html %}
				
				<main>
				{{content}}
					<div>
						<a id="liveagent_button_online_5736g000000QhJ4" href="javascript://Chat" style="display: none;" onclick="liveagent.startChat('5736g000000QhJ4')"><!-- Online Chat Content --></a><div id="liveagent_button_offline_5736g000000QhJ4" style="display: none;"><!-- Offline Chat Content --></div><script type="text/javascript">
						if (!window._laq) { window._laq = []; }
						window._laq.push(function(){liveagent.showWhenOnline('5736g000000QhJ4', document.getElementById('liveagent_button_online_5736g000000QhJ4'));
						liveagent.showWhenOffline('5736g000000QhJ4', document.getElementById('liveagent_button_offline_5736g000000QhJ4'));
						});</script>
					</div>
				</main>

				{% include footer.html %}
			
			</div>
		</div>
	</body>
</html>
