---
layout: default
---

<h1 class="post-title">{{page.title | markdownify}}</h1>
<!-- <p class="meta">{{ page.date | date: "%A, %B %e, %Y" }}</p> -->
<article>
{{ content }}
</article>

{% if site.posts.size > 1 %}
<div class="single-pagination">
  {% if page.next.url %}
  <div class="next-link">
    <p class="title">Newer</p>
    <p><a href="{{page.next.url}}">{{page.next.title}}</a></p>
  </div>
  {% endif %}
  {% if page.previous.url %}
  <div class="prev-link">
    <p class="title">Older</p>
    <p><a href="{{page.previous.url}}">{{page.previous.title}}</a></p>
  </div>
  {% endif %}
</div>
{% endif %}